<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registering</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardServlet</servlet-name>
        <servlet-class>controller.BoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBoardsServlet</servlet-name>
        <servlet-class>controller.DisplayBoardsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackServlet</servlet-name>
        <servlet-class>controller.TrackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTracks</servlet-name>
        <servlet-class>controller.DisplayTracks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowServlet</servlet-name>
        <servlet-class>controller.FollowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGoogle</servlet-name>
        <servlet-class>controller.RegisterGoogle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registering</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoardServlet</servlet-name>
        <url-pattern>/BoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBoardsServlet</servlet-name>
        <url-pattern>/display_boards.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackServlet</servlet-name>
        <url-pattern>/TrackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTracks</servlet-name>
        <url-pattern>/display_tracks.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowServlet</servlet-name>
        <url-pattern>/FollowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGoogle</servlet-name>
        <url-pattern>/RegisterGoogle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
